.m-helpdesk--question-creator--error {
  color: #F44336;
}

m-helpdesk--question-creator {
  m-dropdown {
    display: inline-block;
  }

  .m-h1-input {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
  }

  .medium-editor-element img {
    width: 100%;
    max-width: initial;
  }
  .medium-insert-embeds {
    width: 100%;
    margin: 0;
  }
}
