@import "defaults";

.m-helpdesk__dashboard {
  background: #FFF;

  .m-helpdeskQuestions__questions {
    margin-left: 32px;

    @media screen and(max-width: $max-mobile) {
      margin-left: 0;
    }
  }

  .m-layout__cell {
    max-width: 100%;
  }

  .m-helpdeskSearch__results {
    position: relative;
    width: 30em;
    max-width: 90%;
    max-height: 300px;
    font-size: 16px;
    margin-top: $minds-margin * 1.5;
    overflow-y: auto;
    box-sizing: border-box;
    background: #FFF;

    &:after {
      bottom: 100%;
      left: 95%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(102, 102, 102, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }

    .m-helpdeskSearch__result {
      padding: $minds-padding * 2;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      border-top: 1px solid #eee;

      &:hover, &.m-helpdeskSearch__result--highlight {
        color: #000;
      }
      &:first-child {
        border-top: 0;
      }
    }
  }
}

.m-helpdesk__dashboardInput {

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;

  & > i.material-icons {
    position: absolute;
    left: 8px;
    font-size: 40px;
    color: #888;
  }
  & > input {
    font-size: 18px;
    width: 100%;
    padding: 16px 16px 16px 56px;
    background: #FFF;
  }

  @media screen and(max-width: $min-tablet) {
    & > i.material-icons {
      font-size: 25px;
      left: 4px;
    }
    & > input {
      font-size: 16px;
      padding-right: 2px;
      padding-left: 33px;
    }
  }
}

.m-helpdesk__dashboardButtons {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;

  & > .m-btn {
    margin: 0 $minds-padding;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.25;

    @media screen and(max-width: $min-tablet) {
      height: auto;
    }
  }
}

.m-helpdesk__dashboard h1, .m-helpdesk__dashboard h3, .m-helpdesk__dashboard h2 {
  color: #FFF;
  font-family: Roboto;
  margin: 0;
}

.m-helpdesk__dashboard h1 {
  letter-spacing: 1.25px;
  font-weight: 800;
  font-size: 78px;

  @media only screen and (max-width: 400px) {
    font-size: 30px;
  }
}

.m-helpdesk__dashboard h2 {
  font-weight: 600;
  letter-spacing: 0.25px;
}

.m-helpdesk__dashboard h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  padding-right: 70px;

  @media only screen and (max-width: 400px) {
    font-size: 14px;
  }
}

.m-helpdesk--dashboard--section {
  //text-transform: uppercase;
  font-weight: 100;
  font-size: 41px;
  background: #FFF;

  display: block;
  text-align: left;
  //padding: 80px 0;
  height: auto;

  @media screen and (max-width: 720px) {
  //  padding: 16px 0;
  }

  &.m-helpdesk--dashboard--section-margin {
    max-width: 1280px;
    margin: auto;

    @media screen and (max-width: 1320px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  h1 {
    font-size: 72px;
    font-weight: 600;
    color: #444;
    font-weight: 800;
    letter-spacing: 0.25px;
    margin-left: 8px;
    margin-right: 8px;

    @media screen and (max-width: 720px) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 56px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.25px;
    color: #444;

    @media screen and (max-width: 720px) {
      font-size: 22px;
    }

    &.m-hompeage--wide-letters {
      letter-spacing: 4px;
    }
  }

  h4 {
    @media screen and (max-width: 1250px) {
      font-size: 24px;
    }
    .m-break--8spaces {
      padding-left: 60px;
    }
  }

  h5 {
    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 1;
    margin: 0;
    margin-top: -18px;
    color: #aaa;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;

    @media screen and (max-width: 720px) {
      margin-top: 0;
    }
  }
}

.m-helpdesk--dashboard--popular-questions {
  background: #FFF;
  text-align: left;

  .m-helpdesk--dashboard--popular-questions--title {
    font-size: 30px;
    font-weight: bold;
    padding: $minds-padding * 2;
  }
  .m-helpdesk--dashboard--popular-questions--question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $minds-padding $minds-padding * 2;
    padding-top: $minds-padding;
    font-size: 18px;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.m-helpdesk--dashboard--links {
  display: flex;
  flex-direction: column;
  margin: 0 $minds-padding * 5;

  .m-helpdesk--dashboard--big-item {
    display: flex;
    align-items: center;
    text-align: left;

    img {
      width: 80px;
    }
    .m-helpdesk--dashboard--big-item--text {
      padding-left: $minds-padding * 5;
      max-width: 430px;

      .m-helpdesk--dashboard--big-item--title {
        color: #555;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2em;
      }

      .m-helpdesk--dashboard--big-item--subtext {
        font-size: 16px;
        color: #444;
      }
    }

    @media screen and (max-width: $max-mobile) {
      margin: 0 $minds-padding * 2;
      .m-helpdesk--dashboard--big-item--text {
        padding-left: $minds-padding * 2;
      }
    }
  }

}

@media screen and (max-width: $max-mobile) {
  .m-helpdesk__dashboard {
    .m-layout__inner {
      flex-direction: column;
    }
  }
}

.m-helpdesk__dashboard .m-layout__hero {
  background-image: url('assets/photos/balloon.jpg');

  .m-layout__cell:nth-of-type(1) {
    align-self: center;
  }

  h2 {
    color: #FFF;
  }
}

.m-helpdesk__heroIcon {
  text-align: center;
}
