m-hashtags--sidebar-selector {
  display: block;

  .m-hashtags--sidebar-selector {
    padding: 16px;
  }

  .m-hashtagsSidebarSelector__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    > h3 {
      flex-grow: 1;
      margin: 0;
      color: #555555;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
    }

    .m-switch__label {
      top: 0;
      color: #888888;
      font-size: 9px;
      font-weight: bold;
      line-height: 1;
      margin-right: 8px;
    }
  }

  .m-hashtagsSidebarSelector__SwitchComponent {
    position: relative;
  }

  .m-hashtagsSidebarSelectorSwitchComponent__Overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    cursor: pointer;

  }

  .m-hashtagsSidebarSelector__spinner {
    margin: 16px 0;
    text-align: center;
  }

  .m-hashtagsSidebarSelector__list {
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .m-hashtagsSidebarSelectorList__label {
      flex-grow: 1;
      font-size: 13px;
      color: #666666;
      line-height: 1.2;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;

      &.m-hashtagsSidebarSelectorList__label--visible {
        color: #4690df;
      }
    }

    .m-hashtagsSidebarSelectorList__visibility {
      flex-shrink: 0;
      width: 28px;
      color: #666666;
      text-align: center;
      cursor: pointer;
      user-select: none;

      &.m-hashtagsSidebarSelectorList__visibility--visible {
        color: #4690df;
      }

      > i.material-icons {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .m-hashtagsSidebarSelectorList__switch {
      flex-shrink: 0;
      width: 28px;
      text-align: right;
    }

    .m-hashtagsSidebarSelectorList__addInput {
      flex-grow: 1;
      appearance: none;
      color: #666666;
      border: 1px solid #ececec;
      border-radius: 24px;
      padding-left: 8px;
      font-family: inherit;
      font-size: 12px;
      line-height: 24px;

      &::placeholder {
        color: #aaaaaa;
      }
    }

    .m-hashtagsSidebarSelectorList__addButton {
      flex-shrink: 0;
      width: 28px;
      color: #666666;
      text-align: center;
      cursor: pointer;
      user-select: none;

      > i.material-icons {
        font-size: 12.5px;
      }
    }
  }

  .m-hashtagsSidebarSelector__showMoreLink {
    display: block;
    margin-top: 16px;
    color: #aaaaaa;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    user-select: none;
  }
}

.m-newsfeed__CompactHashtagSelector {
  display: none;

  @media screen and (max-width: 850px) {
    display: block;
    margin-bottom: 16px;
  }
}

.m-hashtagsSidebarSelector__CompactList {
  position: relative;

  .m-hashtagsSidebarSelectorCompactList__Overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(248, 248, 248, 1) 50%);

    .m-hashtagsSidebarSelectorCompactListOverflow__Arrow {
      position: absolute;
      font-size: 12px;
      right: 0;
      top: 1px;
      line-height: 9px;
      vertical-align: middle;
    }
  }

  > ul {
    white-space: nowrap;
    width: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline-flex;
      align-items: center;
      margin-right: 0.65em;
    }
  }

  .m-hashtagsSidebarSelectorCompactList__Label {
    flex-grow: 1;
    color: #666666;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    max-width: 25vw;
    font-size: 12px;

    &.m-hashtagsSidebarSelectorCompactList__Label--visible {
      color: #4690df;
    }
  }
}

.m-hashtags--sidebar-selector.m-hashtags--sidebar-selector--expanded {
  position: absolute;
  display: block;
  background: #ffffff;
  z-index: 8500;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  top: 100%;
  left: -4px;
  right: -4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  overflow-y: auto;
  max-height: 70vh;
}
