<div class="m-border" style="background: #FFF;">
  
  <div class="m-token--onboarding" *ngIf="!session.getLoggedInUser().rewards">
    <m-token--onboarding--rewards skippable="false"></m-token--onboarding--rewards>
  </div>

  <div class="m-wallet-token--testnet--instructions"
    *ngIf="session.getLoggedInUser().rewards">
    <p>
        If you originally helped test Minds on the Rinkeby test network, you can transfer your OnChain Tokens. To do this you will need to send them to our address (0x461f1c5768cdb7e567a84e22b19db0eaba069bad) for processing. This can be done by most Ethereum clients, including Metamask, or by using the form below. Token transfers can take up to 7 days.
    </p>

    <div class="m-wallet-token--testnet--form m-layout--row">
        <div class="">
            <label>Address</label>
        </div>
        <div class="m-layout--cell">
            <input class="m-input m-border" type="text" [(ngModel)]="address" />
        </div>
        <div class="m-layout--cell">
            <button class="m-btn m-btn--slim m-btn--action"
              (click)="transfer()"
              [disabled]="inProgress"
            >Transfer to MainNet</button>
        </div>
    </div>
    <p class="m-error" *ngIf="error">
      {{error}}
    </p>
  </div>
</div>
